:root{
    --black: #232323;
    --white: #fff;
    --yellow: #EBE838;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
    background-color: var(--black);
}

h1{
    font-size: 48px;
    font-weight: 700;
    color: var(--white);
}

h2{
    font-size: 48px;
    font-weight: 600;
    color: var(--white);
}

h3{
    font-size: 30px;
    font-weight: 600;
    color: var(--white);
}

p{
    font-size: 16px;
    font-weight: 400;
    color: var(--white);
}

a{
    font-size: 14px;
    text-decoration: none;
    color: var(--white);
}

button{
    font-size: 14px;
    color: var(--black);
    padding: 15px 40px;
    border:none;
    background-color: var(--yellow);
    color: var(--black);
    font-weight: 500;
    cursor: pointer;
}

button:hover{
    text-decoration: underline;
}

header{
    width: 100%;
    max-width: 1440px;
    height: 60px;
    max-height: 120px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px;
    margin: 0 auto;
}

.logo_nav{
    width: 100px;
    height: 15px;
    background-image: url('./assets/icon/logo.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.menu_mobile{
    width: 23px;
    height: 15px;
    background-image: url('./assets/icon/menu_mobile.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
    transition: .3s;
}

.menu_mobile_close{
    width: 18px;
    height: 18px;
    background-image: url('./assets/icon/close_menu_mobile.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 20px;
    right: 16px;
    z-index: 200;
    cursor: pointer;
    transition: .3s;
}

.nav_menu{
    display: none;
    flex-direction: column;
    align-items: end;
    padding: 70px 42px;
    gap: 8px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: var(--black);
    cursor: pointer;
    transition: .3s;
}

.nav_menu_open{
    display: flex;
    flex-direction: column;
    align-items: end;
    padding: 70px 42px;
    gap: 8px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: var(--black);
    cursor: pointer;
    transition: .3s;
}

.nav_menu a{
    font-size: 24px;
    color: var(--white);
    font-weight: 600;
}

.nav_menu a:hover{
    text-decoration: underline;
    color: var(--yellow);
    font-weight: 500;
}

.phone_contact{
    display: none;
}

.main_container{
    margin: 0 auto;
    width: 100%;
    max-width: 1440px;
    height: 100%;
    min-height: 100vh;
}

.main_container img{
    width: 100%;
}

.hero_container{
    width: 100%;
    padding: 0 16px;
}

.hero_text{
    width: 100%;
    padding: 32px 16px;
}

.hero_text h1{
    line-height: 60px;
    letter-spacing: -1px;
    padding-bottom: 16px;
}

.hero_text p{
    line-height: 30px;
    letter-spacing: 0;
    padding-bottom: 16px;
}

.articulos_container{
    width: 100%;
    padding: 0 16px;
    display: none;
    /* cambiar esto cuando hayan prodcutos */
}

.articulos_container h2{
    font-size: 32px;
    line-height: 60px;
    text-align: center;
}

.cards_container{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 32px;
    overflow: auto;
}

.card{
    min-width: 300px;
    max-width: 380px;
    height: 480px;
    border: 1px solid var(--white);
    margin: 32px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.img_product{
    display: flex;
    justify-items: center;
    width: 100%;
    height: 90%;
    object-fit: cover;
    background-color: var(--white);
    margin-bottom: 24px;
}

.text_card{
    width: 100%;
    height: 100%;
    padding: 0 8px;
}

.text_card h3{
    padding-bottom: 8px;
}

.text_card p:nth-child(1){
    width: 100%;
    height: 100px;
    font-weight: 300;
}

.precio{
    padding: 16px 0;
    font-weight: 500;
    font-size: 24px;
    letter-spacing: 2px;
}

.valoracion_container{
    width: 100%;
}

.valoracion_container h2{
    font-size: 32px;
    line-height: 60px;
    text-align: center;
}

.container_clientes{
    display: flex;
    max-width: 400px;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 32px;
    overflow: hidden;
}

.cliente{
    min-width: 100%;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.img_cliente{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 16px;
}

.img_cliente img{
    margin: 16px auto 0;
    width: 70%;
    height: auto;
    border-radius: 100%;
}

.img_cliente p{
    text-align: center;
    font-weight: 300;
}

.img--nombre_cliente{
    font-weight: 600;
    font-size: 24px;
}

.text_container--usuario{
    width: 100%;
    min-height: 800px;
}

.text_container--usuario img:nth-child(2){
    display: none;
}

.text_container--usuario h3{
    display: none;
}

.p_comentario{
    min-height: 300px;
    padding: 16px 64px;
    font-weight: 300;
    line-height: 24px;
}

.resaltado_cliente{
    font-weight: 300;
    line-height: 24px;
    padding: 16px 64px;
    color: var(--yellow);
}

.flechas_indicadoras{
    display: flex;
    justify-content: space-between;
    margin: 24px auto;
    width: 200px;
    height: 60px;
}

.flechas{
    width: 48px;
    height: 48px;
    cursor: pointer;
    transition: 0.3s ease-in;
}

.flechas:hover{
    transform: scale(1.1);
}

.flecha_izquierda{
    background-image: url('./assets/icon/Arrow-left.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.flecha_derecha{
    background-image: url('./assets/icon/Arrow-right.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

footer{
    width: 100%;
    max-width: 1440px;
}

.contact_container{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 32px 16px;
}

.contact_container h3{
    padding-bottom: 16px;
}

.contact_container p{
    font-weight: 300;
}

.contact_buttons{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
    margin: 16px auto;
    gap: 16px;
}

.contact_buttons button{
    display: flex;
    background-color: var(--white);
    color: var(--black);
    width: 100%;
    max-width: 350px;
    height: 50px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 8px;
}

.contact_buttons button p{
    color: var(--black);
}

.contact_buttons a{
    background-color: var(--yellow);
    width: 100%;
    max-width: 350px;
    height: 50px;
    color: var(--black);
    border-radius: 8px;
    padding: 14px 0;
    text-align: center;
    font-size: 16px;
}

.desarrollador{
    padding: 16px 0 0 0;
    font-size: 13px;
}

@media (min-width:700px) {
    .menu_mobile{
        display: none;
    }

    .nav_menu{
        display: flex;
        flex-direction: row;
        align-items: end;
        padding: 70px 0px;
        gap: 8px;
        position: unset;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: var(--black);
        cursor: pointer;
        transition: .3s;
    }

    .nav_menu a{
        font-size: 13px;
        color: var(--white);
        font-weight: 400;
    }

    .nav_menu a:hover{
        text-decoration: underline;
        color: var(--yellow);
        font-weight: 400;
    }

    .phone_contact{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 150px;
        cursor: pointer;
    }

    .phone_contact img{
        width: 22px;
        height: 22px;
    }

    .phone_contact p{
        font-size: 12px;
        letter-spacing: 1px;
    }

    .main_container img{
        width: 100%;
        height: auto;
        max-width: 40vw;
        max-height: 400px;
        object-fit: cover;
    }
    
    .hero_container{
        margin: 60px auto;
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        width: 100%;
        padding: 0 16px;
    }

    .hero_text{
        max-width: 60%;
        margin: 0;
        padding: 0 16px;
    }

    .hero_text h1{
        font-size: 48px;
    }

    .hero_text p{
        width: 80%;
    }

    .articulos_container{
        width: 100%;
        padding: 0 16px;
        display: flex;
        flex-direction: column;
        margin: 60px auto 0;
    }

    .cards_container{
        margin: 0 auto;
        justify-content: space-evenly;
    }

    .card{
        max-width: 300px;
    }

    .text_card h3{
        font-size: 22px;
        padding-bottom: 8px;
    }
    
    .text_card p:nth-child(1){
        width: 100%;
        height: 100px;
        font-weight: 400;
    }
    
    .precio{
        padding: 16px 0;
        font-weight: 500;
        font-size: 24px;
        letter-spacing: 2px;
    }

    .container_clientes{
        min-width: 100%;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-evenly;
        flex-wrap: nowrap;
        gap: 32px;
        overflow: unset;
        margin: 32px auto;
        position: relative;
        top: 0;
        left: 0;
        right: 0;
    }

    .cliente{
        width: 100%;
        max-width: 400px;
        min-width: 300px;
        height: auto;
        max-height: 850px;
    }

    .img_cliente{
        display: flex;
        width: 60%;
        margin: 32px auto;
        flex-direction: column;
        justify-content: center;
        gap: 16px;
    }

    .flechas{
        display: none;
    }

    footer{
        margin: 60px auto 0;
    }

    .contact_buttons{
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 80%;
        margin: 40px auto 20px;
        gap: 16px;
    }
}

@media (max-width: 1200px) {
    .cards_container{
        width: 100%;
        overflow: auto;
    }

    .container_clientes{
        min-width: 100%;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-evenly;
        flex-wrap: nowrap;
        gap: 32px;
        overflow: auto;
        margin: 32px auto;
        position: relative;
        top: 0;
        left: 0;
        right: 0;
    }
}