:root{
    --black: #232323;
    --white: #fff;
    --yellow: #EBE838;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
    background-color: var(--black);
}

h1{
    font-size: 48px;
    font-weight: 700;
    color: var(--white);
}

h2{
    font-size: 48px;
    font-weight: 600;
    color: var(--white);
}

h3{
    font-size: 30px;
    font-weight: 600;
    color: var(--white);
}

p{
    font-size: 16px;
    font-weight: 400;
    color: var(--white);
}

a{
    font-size: 14px;
    text-decoration: none;
    color: var(--white);
}

button{
    font-size: 14px;
    color: var(--black);
    padding: 15px 40px;
    border:none;
}

header{
    width: 100%;
    max-width: 1440px;
    height: 60px;
    max-height: 120px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px;
}

.logo_nav{
    width: 100px;
    height: 15px;
    background-image: url('./assets/icon/logo.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.menu_mobile{
    width: 23px;
    height: 15px;
    background-image: url('./assets/icon/menu_mobile.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.nav_menu{
    display: none;
}

.phone_contact{
    display: none;
}