:root{
    --black: #232323;
    --white: #fff;
    --yellow: #EBE838;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
    background-color: var(--black);
}

h1{
    font-size: 48px;
    font-weight: 700;
    color: var(--white);
}

h2{
    font-size: 48px;
    font-weight: 600;
    color: var(--white);
}

h3{
    font-size: 30px;
    font-weight: 600;
    color: var(--white);
}

p{
    font-size: 16px;
    font-weight: 400;
    color: var(--white);
}

a{
    font-size: 14px;
    text-decoration: none;
    color: var(--white);
}

button{
    font-size: 14px;
    color: var(--black);
    padding: 15px 40px;
    border:none;
    background-color: var(--yellow);
    color: var(--black);
    font-weight: 500;
    cursor: pointer;
}

button:hover{
    text-decoration: underline;
}

header{
    width: 100%;
    max-width: 1440px;
    height: 60px;
    max-height: 120px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px;
}

.logo_nav{
    width: 100px;
    height: 15px;
    background-image: url('./assets/icon/logo.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.menu_mobile{
    width: 23px;
    height: 15px;
    background-image: url('./assets/icon/menu_mobile.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.nav_menu{
    display: none;
}

.phone_contact{
    display: none;
}

.main_container{
    width: 100%;
    max-width: 1440px;
    height: 100%;
    min-height: 100vh;
}

.main_container img{
    width: 100%;
}

.hero_container{
    width: 100%;
    padding: 0 16px;
}

.hero_text{
    width: 100%;
    padding: 32px 16px;
}

.hero_text h1{
    line-height: 60px;
    letter-spacing: -1px;
    padding-bottom: 16px;
}

.hero_text p{
    line-height: 30px;
    letter-spacing: 0;
    padding-bottom: 16px;
}

.articulos_container{
    width: 100%;
    padding: 0 16px;
}

.articulos_container h2{
    font-size: 32px;
    line-height: 60px;
    text-align: center;
}

.cards_container{
    /* display: flex;
    gap: 32px; */
}

.card{
    width: 300px;
    max-width: 380px;
    height: 480px;
    border: 1px solid var(--white);
    margin: 32px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.img_product{
    display: flex;
    justify-items: center;
    width: 100%;
    height: 90%;
    object-fit: cover;
    background-color: var(--white);
    margin-bottom: 24px;
}

.text_card{
    width: 100%;
    height: 100%;
    padding: 0 8px;
}

.text_card h3{
    padding-bottom: 8px;
}

.text_card p:nth-child(1){
    width: 100%;
    height: 100px;
    font-weight: 300;
}

.precio{
    padding: 16px 0;
    font-weight: 500;
    font-size: 24px;
    letter-spacing: 2px;
}